[submodule "Minecraft/vendor/glm"]
	path = Minecraft/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Minecraft/vendor/yamlCpp"]
	path = Minecraft/vendor/yamlCpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "Minecraft/vendor/simplex"]
	path = Minecraft/vendor/simplex
	url = https://github.com/SRombauts/SimplexNoise
[submodule "Minecraft/vendor/cppUtils"]
	path = Minecraft/vendor/cppUtils
	url = https://github.com/ambrosiogabe/CppUtils
[submodule "Minecraft/vendor/GLFW"]
	path = Minecraft/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "Minecraft/vendor/magicEnum"]
	path = Minecraft/vendor/magicEnum
	url = https://github.com/Neargye/magic_enum
